H1 { font-face: "Comic Sans MS"; font-size: 100px; color: #000000; }
p { font-face: "Comic Sans MS"; font-size: 60px; color: #000000; }
body { background-color: blanchedalmond; }
img {width: 20%; height: 20%;}