<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <link rel=stylesheet type="text/css" href="static/respect_the_drip.css">
    </head>    
    <body style="background-color: blanchedalmond;">
        <h1>CDT Weiss, PROJECT 2</h1>
        <p style="color:olive"><b>Welcome to my <i>webpage</i>! have a look a around!</b></p>
        <img src="content/willy_wonka.gif">
        <p>Check out this sick clip!</p>
        <video width="320" height="240" controls>
            <source src="content/clip.mp4" type="video/mp4">
        </video>
        <p>Don't even bother clicking this link. I think it's broken or something.</p>
        <a href="broken.html">Must watch video!</a>
        <a href="templates/windows.html">Windows Machine</a>
    </body>
    <!-- don't look at <URL>/superSecret.html !! It's secret ! -->
</html>