<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-image: url("../content/word_file2.jpg"); background-size:cover;  background-repeat: no-repeat;
            }
            h1 {text-align: center; 
                font-size: 100px;
            }
            ul {
                padding-left: 200px;
            }
            li {
                font-size: 60px;
            }
        </style>

    </head>
    
    <body >
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="color:blanchedalmond">CS484 <i>Notes</i></h1>
        <ul style="text-align: center; padding-right: 200px">
            <li style="color:aliceblue"><b style="background-color: rgb(15, 0, 153)">Networking</b> is really good stuff</li>
            <li style="color:aliceblue">what the heck is <u>dijkstra algorithm</u></li>
            <li style="color:aliceblue">Only 15 min until lunch</li>
        </ul>
        <p style="text-align: center;"></p>
    </body>


</html>
